*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, .time, .left-side, .right-side, .right-top, .right-down{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    height: 80vh;
    background-color: #2e2e45;
}

.digital-clock, .time, .right-side, .right-top, .right-down{
    position: relative;
}

.digital-clock{
    color: white;
    width: 425px;
    padding: 30px 50px;
    /* box-shadow: 0 5px 25px rgba(14, 21, 37, .8); */
    background-color: #2d2f38;
    border-radius: 10px;
}

.digital-clock::before{
    position: absolute;
    content: "";
    background: linear-gradient(45deg, blue, orange, green);
    background-size: 200% 200%;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -1;
    filter: blur(30px);
    animation: glowing 5s ease infinite;
}

@keyframes glowing{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

#hours{
    font-weight: 600px;
    padding: 0px 10px;
    line-height: 125px;
    font-size: 8em;
}

.right-side{
    flex-direction: column;
}

#dots{
    font-size: 4em;
    transform: translateY(-3px);
    color: gray;
}

#minutes{
    font-size: 5em;
    font-weight: 500;
    margin-left: 10px;
    transform: translateY(10px);
}

.right-down{
    margin-left: 10px;
    transform: translateY(-25px);
    margin-top: 30px;
}

#period, #seconds{
    font-size: 1.8em;
    font-weight: 500;
    margin-left: 10px;
}

#period{
    color: orange;
}

#seconds{
    color: white;
}